.cart_wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 6;
}

.cart_button {
  width: 56px;
  height: 56px;
  position: relative;
  background-color: var(--accent);
  border-radius: 100%;
  border: none;
  font-size: 0;
  font-weight: var(--text-weight);
}

.cart_button:active {
  background-color: var(--subaccent);
}

.cart_button::before {
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../../static/icons/cart.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 17.5px;
  left: 16px;
  background-size: contain;
}

.cart_count {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid var(--accent);
  background-color: var(--white);
  border-radius: 100%;
  color: var(--accent);
  font-size: var(--text);
  text-align: center;
  line-height: 20px;
  top: -2px;
  right: -2px;
}

@media screen and (min-width: 992px) {
  .cart_wrapper {
    position: static;
  }

  .cart_button {
    width: 89px;
    height: 40px;
    padding: 8px 16px;
    position: relative;

    border-radius: 4px;
  }

  .cart_button::before {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .cart_count {
    height: 25px;
    width: 22px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    border-radius: 0;
    color: var(--white);
    top: 10px;
    right: 16px;
  }
}

/* contain */

.popup {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--filter);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: end;
}

.popup__close {
  display: none;
}

.popup__inner {
  background-color: var(--white);
  max-width: 700px;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px 20px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px 24px 0 0;
}

.popup_title {
  font-weight: var(--title-weight);
  font-size: var(--title-text);
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.cart__item {
  border-radius: 12px;
  border: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  padding: 12px;
}

.item__info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item__img {
  width: 84px;
  height: 84px;
  margin-right: 12px;
}

.item__delete {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid var(--accent);
  background-color: var(--light-primary);
  color: var(--accent);
  text-align: center;
  font-size: 18px;
}

.item__title {
  margin-bottom: 8px;
}

.item__detail__info {
  margin-bottom: 10px;
}

.item__price__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__price {
  text-align: center;
  font-size: var(--subtitle-text);
  font-weight: var(--title-weight);
  color: var(--accent);
}

.item__count {
  display: flex;
  border-radius: 6px;
  background-color: var(--light-primary);
  padding: 7px 8px;
  gap: 10px;
}

.item__numbers {
  width: 40px;
}

.item__increment,
.item__decrement,
.item__numbers {
  color: var(--accent);
  background-color: transparent;
  border: none;
  text-align: center;
}

.item__increment,
.item__decrement {
  font-weight: var(--special-weight);
  font-size: 18px;
}

.item__increment:disabled,
.item__decrement:disabled {
  color: var(--gray);
}

.popup__inner {
  overflow: scroll;
  background-color: var(--white);
  max-width: 700px;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px 20px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_title {
  max-width: calc(100% - 40px);
 margin-right: 40px;
}



@media screen and (max-width: 1070px) {
  .cart_wrapper {
    position: static;
  }

  .cart_button {
    width: 89px;
    height: 40px;
    padding: 8px 16px;
    position: relative;

    border-radius: 4px;
  }

  .cart_button::before {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .cart_count {
    height: 25px;
    width: 22px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    border-radius: 0;
    color: var(--white);
    top: 10px;
    right: 16px;
  }
}
